---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  - namespaces
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - guardian.illenium.net
  resources:
  - alertchannels
  - cronjobmonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - guardian.illenium.net
  resources:
  - alertchannels/finalizers
  - cronjobmonitors/finalizers
  verbs:
  - update
- apiGroups:
  - guardian.illenium.net
  resources:
  - alertchannels/status
  - cronjobmonitors/status
  verbs:
  - get
  - patch
  - update
